<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages="">
    <!--<Appenders>-->
        <!--<Console name="STDOUT" target="SYSTEM_OUT">-->
            <!--<PatternLayout pattern = "%d %p %c{1.} [%t]  %m%n"/>-->
        <!--</Console>-->
    <!--</Appenders>-->

    <!--<Loggers>-->
    <!--<Root level="error">-->
    <!--<AppenderRef ref="STDOUT"/>-->
    <!--</Root>-->
    <!--<Root level="info">-->
    <!--<AppenderRef ref="STDOUT"/>-->
    <!--</Root>-->
    <!--<Root level="debug">-->
    <!--<AppenderRef ref="STDOUT"/>-->
    <!--</Root>-->
    <!--</Loggers>-->

        <!--<Appenders>-->
            <!--<File name="MyFile" fileName="log/app.log" append="false">-->
                <!--<PatternLayout>-->
                    <!--<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>-->
                <!--</PatternLayout>-->
            <!--</File>-->
        <!--</Appenders>-->
        <!--<Loggers>-->
            <!--<Root level="error">-->
                <!--<AppenderRef ref="MyFile"/>-->
            <!--</Root>-->
            <!--<Root level="info">-->
                <!--<AppenderRef ref="MyFile"/>-->
            <!--</Root>-->
            <!--<Root level="debug">-->
                <!--<AppenderRef ref="MyFile"/>-->
            <!--</Root>-->
        <!--</Loggers>-->

    <!--<Appenders>-->
        <!--<SMTP name="Mail"-->
              <!--subject="Error Log"-->
              <!--to="tmjcsh@gmail.com"-->
              <!--from="tmjcsh@gmail.com"-->

              <!--smtpHost="smtp.gmail.com"-->
              <!--smtpProtocol = "smtps"-->
              <!--smtpPort="465"-->

              <!--bufferSize="512"-->
              <!--smtpDebug = "true"-->
              <!--smtpAuth = "true"-->
              <!--smtp.starttls.enable ="false"-->

              <!--smtpUsername = "tmjcsh@gmail.com"-->
              <!--smtpPassword = "9D3-9Gs-D4E-X5W">-->
        <!--</SMTP>-->
    <!--</Appenders>-->
    <!--<Loggers>-->
        <!--<Root level="error">-->
            <!--<AppenderRef ref="Mail"/>-->
        <!--</Root>-->
    <!--</Loggers>-->


    <Appenders>
    <RollingFile name="RollingFile" fileName="log/apps.html"
                 filePattern="log/apps-%d{yyyy-MM-dd}.html"
                 ignoreExceptions="false" append="false">
        <HTMLLayout charset="UTF-8" title="HTML Logs" locationInfo="true" />
        <Policies>
            <TimeBasedTriggeringPolicy />
            <SizeBasedTriggeringPolicy size="250 MB"/>
        </Policies>
    </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="error">
            <AppenderRef ref="RollingFile"/>
        </Root>
        <Root level="info">
            <AppenderRef ref="RollingFile"/>
        </Root>
        <Root level="debug">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>

</Configuration>